{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<head>
	
	<script type="text/javascript" src="/resources/js/jquery-1.5.2.min.js"></script>
	{% block js %}{% endblock %}
	
	<title>Fotobox</title>
</head>
<body id="body">
	<form action="http://127.0.0.1:7000/cgi-bin/seam_carving.exe">
		<p>enter URL</p>
		<INPUT NAME="url" SIZE="100"><BR>
		<p>enter width</p>
		<INPUT NAME="wPercent" SIZE="10"><BR>
		<p>enter height</p>
		<INPUT NAME="hPercent" SIZE="10"><BR>
		<INPUT TYPE="SUBMIT" VALUE="Go!">
	</form>
</body>
</html>